/*Dear god this code is a mess. I started leaving those notes for my own sanity, sorry guys. love ya*/
/*---making dl bar's background darker*/
.css-7p5u54 {background-color: #32302F;}
/*---tryina fix cloud unsupported red text------------------*/
.gameInfo .infoWrapper .iconWithText {color:#32302F !important;}
/*---i dont like the 0deg gradient on game covers in game pages so making it a corner*/
.gamePicture:after {background: linear-gradient(var(--gradient-angle),rgba(0,0,0,0),var(--background-darker) 100%),linear-gradient(320deg,rgba(0,0,0,0) 88%,var(--background-darker) 93%)}
/*---unavailable/broken games now look like unsupported ones*/
.gameCard.notAvailable .gameImg.installed {filter: grayscale(var(--installing-effect)); color: #F8F7F6;}
/*---used to make placeholder text different color, idk how else.*/
.SearchBar .searchBarInput::placeholder {color: #000000;}
/*---every other placeholder text*/
::placeholder {color: #F8F7F6;}
/*---sidemenu category selection doesnt have background, idk why, added it tho*/
.Sidebar__item.active{background: #32302F;}
/*---making the logo look better on the theme*/
.Sidebar .heroicIcon {filter: sepia(1);}
/*---changing game page topright menu text color, this also disables hover effect*/
.goToLibrary, .button.outline, .toolsWrapper .drag>span, .button.is-text, .button.is-success {background: var(--button); border: 0px; color: #F8F7F6 !important;}
/*---fixing OTHER kind of buttons*/
.settingsWrapper .button {background: var(--status-warning); color: var(--text-tertiary)}
/*---fixing the download circle color (it uses accent)*/
.downIcon circle {fill: #A69E8A;}
/*---fixing the RMB menu text color from library page*/
.contextMenu>.MuiPaper-root>.MuiMenu-list {color: #F8F7F6;}
/*---lets use different effect for libheader, and aplaylso add it to the top header*/
.Header, .libraryHeader { background: var(--libtitlebars); }
/*---and remove the empty space between them*/
.libraryHeader {margin: 0; }
/*---gotta fix the text in lib search autocomplete box*/
.autoComplete {color:#F8F7F6 ;}
/*---Didn't like the Global Settings warning box being red, clashes too much*/
.settingsWrapper .defaults-hint {background: #7F7B73;} /*WHY use anticheat-denied for it?*/
/*---changes checkbox check's color, not important but looks nicer this way*/
.hiddenCheckbox:checked+.toggleSwitchWrapper:before {color: #D4D0C8;}
/*---adds background gradient to game title in game page*/
.gameConfigContainer .titleWrapper {background: var(--game-title); padding-top: 0;}
/*---adds border to dialog boxes*/
.Dialog__element[open] {border: solid #32302F 3px;filter: drop-shadow(2px 4px 6px black);}
/*---adds border to search bar*/
.Header__search .SearchBar { filter: drop-shadow(2px 2px 3px #32302F);}
/*---making game number text color in library WHITE*/
.numberOfgames {color: #F8F7F6;}
/*---I dont want this the same color as accent-verlay*/
.downIcon:hover circle {fill: #F8F7F6;}
/*---I wish I knew how to trigger an error to see if this works proper*/
.errorDialog.error-box (color: #F8F7F6;)
/*---fixing the dl page pause button, cause idk how to change it other way*/
.svg-button circle#circle2 {fill: #A69E8A;}
/*WHY would game titles in dl have color connected to play buttons from library*/
.downloadManagerTitleList>.titleSize {color:#32302F;}
/*GET OTHER SELECTOR THINGYS TITLED AS WELL VVVVV FIXME*/

:root {--brand-text-01: #F8F7F6; --neutral-06: #F8F7F6; --brand-primary: #D4D0C8; --brand-secondary: #A69E8A; }
.selectFieldWrapper select>option, .realtimeDownloadStat, .downLabel, .diskLabel  {color: #F8F7F6;}
.libraryTitle {margin: var(--space-3xs) 0;}
.gameCard>.gameCardStatus, .gameCard.notAvailable { text-align: right; color: #F8F7F6;}
.settingsIcon path {fill: var(--thumbbuttoncolor);}
.updateIcon svg { color: var(--thumbbuttoncolor);}
.selectFieldWrapper select, .textInputFieldWrapper .inputIcon, .textInputFieldWrapper input[type=text] { color: var(--fields-text-color);}
.dmItemList {background: linear-gradient(135deg, #C1BCB4 0%, #918c83 79%, #605954 100%); filter: drop-shadow(2px 2px 3px #32302F); border: solid 1px #32302F;}
.tableFieldWrapper tbody tr:nth-child(even), .tableFieldWrapper tbody tr:nth-child(even) span::-webkit-scrollbar {color:#F8F7F6;}


body.Beige {
    /*SOME of the buttons' text color*/
    --text-tertiary: #F8F7F6;
    /*SOME butytons' border on hover, not the same ones tho*/
    --button-stroke: #32302F;
    /*find out what these do lmao*/
        --download-button: pink;
    --download-button-overlay: pink;
    --text-title: pink;
    --play-button: red;
    --text-quartenary: red;
    /*-------------------------------------------*/
/*COLORS USES: white: #F8F7F6 / black: #32302F / def color: #D4D0C8*/
    /*changed back button from game page color, changes some link colors, changes ADD GAME button background,changes checkbox color, some option title text colors,*/
    --accent: #32302F;

    --input-background: #7F7B73;
    --primary: #32302F;

    --body-background: #D4D0C8;
    /*browser only?*/
    --icon-disabled: #7F7B73;

    /*QOL MISC*/
        --danger: #32302F;
    --fields-text-color: #F8F7F6;
    --button: #32302F;
/*This changes hovering on buttons color*/
    --accent-overlay: #32302F;

    --status-warning: #32302F;

    /*Library stuff*/
/*selected search bar border color & background*/
    --search-bar-border: #32302F;
    --search-bar-background: linear-gradient( 180deg, #BEBAB3 32px, #BEBAB3 32px, #32302F 450%);


    /*play button*/
    --success: #A69E8A;
    --success-hover:  #D4D0C8;
    /*lib top buttons*/
    --libtitlebars: linear-gradient(90deg, #32302F -2px, #A69E8A 16px, #BEBAB3 100%);
    --action-icon: #7F7B73;
    --action-icon-hover: #32302F;
    --action-icon-active: #32302F;
    /*lib thumbnails*/
    --thumbbuttoncolor: #F8F7F6;
    --status-text: #F8F7F6;
    --gamecard-title-color:  #D4D0C8;
    --icons-background: linear-gradient( 90deg, #7F7B73 32px, #6B6861 66% 8px, #7F7B73 100%);
    /*GAME PAGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
    --game-title: linear-gradient(90deg, #F8F7F666 1%, #BEBAB3 300px);
    --tertiary-button: #A69E8A;
    --status-warning-hover: #A69E8A;
    --background-darker: #BEBAB3;
    --anticheat-denied: #FF0000;
    --anticheat-broken: #FFAA00;
    --anticheat-running: #BDE51A;
    --anticheat-supported: #6BE51A;
    --anticheat-planned: #8f3f71;
    --text-secondary: #32302F;
    /*Download page stuff*/
    --danger-hover: #D4D0C8;
    --install-button: #A69E8A;
    /*Menu stuff*/
    /*side menu background*/
    --navbar-background: #7F7B73;
    /*side menu selection background*/
    --navbar-active-background: #32302F;
    /*sidemenu text color of inactive items*/
    --navbar-inactive: #F8F7F6;
    /*sidemenu text color of selected item, note that selected category doesnt have background color*/
    /*it now does, added via selector*/
    --navbar-active: #F8F7F6;
    --text-hover: #32302F;
    --navbar-accent: #F8F7F6;
    --text-default: #32302F;
    --divider: #32302F;
    /*main background*/
    --current-background: #D4D0C8;
    --gradient-body-background: linear-gradient( 90deg, #32302F -2px, #D4D0C8 16px, #BEBAB3 100%);


    --modal-backdrop: rgba(0, 0, 0, 0.15);
    --modal-background: linear-gradient(180deg, #D4D0C8 -32px, #BEBAB3 64px, #A9A59D 100%);
    --modal-border: #7F7B73;


    /*button in downloads*/
    --install-button-hover:#F8F7F6;
    --cancel-button:#A69E8A;
    --cancel-button-overlay: #D4D0C8;
    /*I feel like this is used only for the INSTALL button in EOS Overlay part of the Advanced caterogy in Settings*/
        --primary-hover: #32302F;
        /*I THINK all this changes is back to top button and search result selection text color*/
            --background: #F8F7F6;
}
